
<p class="lead mb-3">Welcome <%= name %></p>
<br>
<button><a href="/">Back to home</a></button>
<br>
<% /* %>
<!-- <div class="row">
	<div class="col-md-8 offset-md-2">
		<h1>User Profile</h1>
		<hr>
		<h2>My orders</h2>
		<% for(var i=0; i < orders.length; i++) { %>
				<div class="card">
				<div class="card-body">
					<ul class="list-group">
						 <% orders.items.forEach(function(order){ %>
						 	<li class="list-group-item d-flex justify-content-between align-items-center">
							    <%= order.item.title %> | <%= order.qty %> Units
							    <span class="badge badge-primary badge-pill"><%= order.price %></span>
							</li>
						<% }); %>
					</ul>
				</div>
				<div class="card-footer"> 
					<%= orders.cart.totalPrice %>
				</div>
		<% } %>
		</div>
	</div>
</div>
 -->
 <% */ %>